{
  "openapi": "3.1.0",
  "info": {
    "title": "TeamBattles API",
    "version": "0.1.0",
    "description": "Public developer API for TeamBattles. Authenticate with an API key: Authorization: Bearer tb_<key>."
  },
  "servers": [
    {
      "url": "https://teambattles.gg/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/game/matches": {
      "post": {
        "operationId": "listGameMatches",
        "tags": [
          "Game"
        ],
        "summary": "List matches for the developer's approved game",
        "description": "Returns matches for the API key owner's approved (bound) game, with legacy cursor pagination. Requires the game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListGameMatchesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy cursor-paginated result. pagination.cursor is null when there are no more pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GameMatch"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "cursor",
                        "hasMore"
                      ],
                      "additionalProperties": false
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "matches",
                    "count",
                    "pagination",
                    "timestamp"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}": {
      "get": {
        "operationId": "getGameMatch",
        "tags": [
          "Game"
        ],
        "summary": "Get a single match's details",
        "description": "Returns detailed info for one match, validated to belong to the API key owner's approved game. Requires the game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested match plus a response timestamp.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMatchDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/forfeit": {
      "post": {
        "operationId": "forfeitGameMatch",
        "tags": [
          "Game"
        ],
        "summary": "Forfeit a match on behalf of one participating team",
        "description": "Forfeits the match for the supplied team; the other participating team wins. Valid only while the match is ACCEPTED, READY, or IN_PROGRESS. Requires the game.lifecycle:read-write permission and a key bound to the match's game. Supports an optional `Idempotency-Key` request header: a retry with the same key and body replays the original response, while the same key with a different body returns 409 error_idempotency_key_conflict.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameForfeitBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match was forfeited successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameForfeitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/player-stats": {
      "post": {
        "operationId": "submitGamePlayerStats",
        "tags": [
          "Game"
        ],
        "summary": "Submit or update player stats for a map",
        "description": "Sets per-player stats on an existing map score for the given mapIndex. Requires the game.scores:write permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GamePlayerStatsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The player stats were updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GamePlayerStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/rosters": {
      "get": {
        "operationId": "getGameMatchRosters",
        "tags": [
          "Game"
        ],
        "summary": "Get a match's team rosters",
        "description": "Returns the creator and accepted team rosters for a match, validated to belong to the API key owner's approved game. Requires the game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Team rosters grouped by creator and accepted team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMatchRostersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/scores": {
      "get": {
        "operationId": "getGameScores",
        "tags": [
          "Game"
        ],
        "summary": "Read all map scores for a match",
        "description": "Returns every recorded map score plus the aggregate series tally. Requires the game.scores:write OR game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "responses": {
          "200": {
            "description": "All map scores plus the aggregate series tally.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameScoresResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "submitGameScores",
        "tags": [
          "Game"
        ],
        "summary": "Submit map scores in a batch",
        "description": "Submits scores for one or more maps; game-developer scores are auto-confirmed. Requires the game.scores:write permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameBatchScoresBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-map submission results. success is true only when every map was confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameBatchScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/scores/{mapIndex}": {
      "post": {
        "operationId": "submitGameMapScore",
        "tags": [
          "Game"
        ],
        "summary": "Submit a single map's score",
        "description": "Submits the score for one map (mapIndex from the path); game-developer scores are auto-confirmed. Requires the game.scores:write permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          },
          {
            "in": "path",
            "name": "mapIndex",
            "schema": {
              "type": "string",
              "description": "Zero-based index of the map within the series."
            },
            "required": true,
            "description": "Zero-based index of the map within the series."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameSingleMapScoreBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The map score was submitted and confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSingleMapScoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/status": {
      "patch": {
        "operationId": "updateGameMatchStatus",
        "tags": [
          "Game"
        ],
        "summary": "Update a match's lifecycle status",
        "description": "Transitions a match between lifecycle states (validated against allowed transitions). Requires the game.lifecycle:read-write permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameStatusUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match status was transitioned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameStatusUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/batch-scores": {
      "post": {
        "operationId": "submitGameBatchMatchScores",
        "tags": [
          "Game"
        ],
        "summary": "Submit map scores across multiple matches in one call",
        "description": "Submits map scores for up to 50 (match, map) items in a single request. Each item is independently scope-checked against the key's bound game; an off-scope or otherwise failing item is rejected in its per-item envelope (status \"failed\", error = bare error_* code) WITHOUT failing the whole request. The response is ALWAYS HTTP 200 - inspect per-item status. Requires the game.scores:write permission. Score submission is naturally idempotent: an unconfirmed map is overwritten on re-submit and an already-confirmed map returns a per-item error_score_already_submitted_by_game, so a retried batch is safe without an Idempotency-Key.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameBatchMatchScoresBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item submission results. success is true only when every item was confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameBatchMatchScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/create": {
      "post": {
        "operationId": "createGameMatch",
        "tags": [
          "Game"
        ],
        "summary": "Create a two-sided game-originated match",
        "description": "Creates an ACCEPTED + PUBLISHED match for the API key's bound game between two active teams in that game. Requires the game.lifecycle:read-write permission. Supply an optional `Idempotency-Key` request header to make retries safe: an identical key + body replays the original response, while the same key with a different body returns 409 error_idempotency_key_conflict.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCreateMatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created match's ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameCreateMatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/games": {
      "get": {
        "operationId": "listGames",
        "tags": [
          "Games"
        ],
        "summary": "List public game catalog entries",
        "description": "Returns the static public game catalog and objective definitions. Requires a valid API key, but no additional permission scope.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public game catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGameCatalogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/games/{id}/playlists": {
      "get": {
        "operationId": "listGamePlaylists",
        "tags": [
          "Games"
        ],
        "summary": "List playlists for a game",
        "description": "Returns playlists from the static public game definition for the requested game ID. Playlist IDs are game-scoped, so shared slugs such as standard are not resolved globally.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Static public game ID/slug."
            },
            "required": true,
            "description": "Static public game ID/slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public game playlist list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGamePlaylistsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/organizations": {
      "get": {
        "operationId": "listOrganizationLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "summary": "List organization leaderboard",
        "description": "Returns active, public, non-disabled organizations ranked from active, enabled, non-private team stats. Requires orgs.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/organizations/{identifier}/rank": {
      "get": {
        "operationId": "getOrganizationLeaderboardRank",
        "tags": [
          "Leaderboards"
        ],
        "summary": "Get an organization's leaderboard rank",
        "description": "Returns an organization's rank for the requested leaderboard filters. Organization stats are computed from active, enabled, non-private teams. Requires orgs.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "Organization slug or Convex organization ID."
            },
            "required": true,
            "description": "Organization slug or Convex organization ID."
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardRankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/players": {
      "get": {
        "operationId": "listPlayerLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "summary": "List player leaderboard",
        "description": "Returns the global player leaderboard. gameSlug is rejected because player stats are global. Requires users.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/players/me/rank": {
      "get": {
        "operationId": "getPlayerLeaderboardRank",
        "tags": [
          "Leaderboards"
        ],
        "summary": "Get the API key owner's player rank",
        "description": "Returns the API key owner's rank in the global player leaderboard. gameSlug is not supported. Requires users.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardRankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/teams": {
      "get": {
        "operationId": "listTeamLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "summary": "List team leaderboard",
        "description": "Returns active, non-disabled, non-private teams ranked by the requested stat. Requires teams.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/teams/{identifier}/rank": {
      "get": {
        "operationId": "getTeamLeaderboardRank",
        "tags": [
          "Leaderboards"
        ],
        "summary": "Get a team's leaderboard rank",
        "description": "Returns a team's rank for the requested leaderboard filters. Private teams return rank null unless they are otherwise excluded from the API leaderboard. Requires teams.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "Team slug or Convex team ID."
            },
            "required": true,
            "description": "Team slug or Convex team ID."
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardRankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues": {
      "post": {
        "operationId": "discoverLeagues",
        "tags": [
          "Leagues"
        ],
        "summary": "Discover public leagues",
        "description": "Returns a paginated list of public leagues with optional search and game filtering. Requires the leagues.league_public:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscoverLeaguesRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy offset-paginated result (page/limit based).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leagues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeagueSummary"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalPages": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ],
                      "additionalProperties": false
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "leagues",
                    "count",
                    "pagination",
                    "timestamp"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}": {
      "post": {
        "operationId": "getLeagueProfile",
        "tags": [
          "Leagues"
        ],
        "summary": "Get a league profile",
        "description": "Returns the public profile for a single league, resolved by slug or Convex ID. Requires the leagues.league_public:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The league profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/apply-eligibility": {
      "post": {
        "operationId": "getLeagueApplyEligibility",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league application eligibility",
        "description": "Returns apply-to-join eligibility for the API key owner's applicable teams, or for a specified team the owner leads. Requires leagues.league_public:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeagueApplyEligibilityRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "League application eligibility.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueApplyEligibility"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/bans": {
      "post": {
        "operationId": "getLeagueBans",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league team bans",
        "description": "Returns team bans for a league resolved by slug, with optional status filtering. The API key owner must have a MANAGER+ league role or be TeamBattles staff. Requires the leagues.league_admin:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BansRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team bans for the league.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueBans"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/display-rules": {
      "post": {
        "operationId": "getLeagueDisplayRules",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league display rules",
        "description": "Returns display rules configured for a league game. Requires leagues.league_public:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeagueDisplayRulesRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "League display rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueDisplayRules"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/games": {
      "post": {
        "operationId": "getLeagueGames",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league games",
        "description": "Returns games configured for a league resolved by slug or Convex ID. Requires leagues.league_public:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "responses": {
          "200": {
            "description": "League games.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueGames"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/matches/{matchId}/player-stats": {
      "post": {
        "operationId": "submitLeaguePlayerStats",
        "tags": [
          "Leagues"
        ],
        "summary": "Submit or update league player stats for a map",
        "description": "Sets per-player stats on an existing league match map score. Requires a league-operator key bound to the league and the league scores capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          },
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GamePlayerStatsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league player stats were updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GamePlayerStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/matches/{matchId}/scores": {
      "post": {
        "operationId": "submitLeagueScores",
        "tags": [
          "Leagues"
        ],
        "summary": "Submit league match scores in a batch",
        "description": "Submits scores for one or more maps in a league match; league-operator scores are auto-confirmed. Requires the league scores capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          },
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameBatchScoresBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-map submission results. success is true only when every map was confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameBatchScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/matches/{matchId}/scores/{mapIndex}": {
      "post": {
        "operationId": "submitLeagueMapScore",
        "tags": [
          "Leagues"
        ],
        "summary": "Submit one league match map score",
        "description": "Submits the score for one map in a league match; league-operator scores are auto-confirmed. Requires the league scores capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          },
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          },
          {
            "in": "path",
            "name": "mapIndex",
            "schema": {
              "type": "string",
              "description": "Zero-based index of the map within the series."
            },
            "required": true,
            "description": "Zero-based index of the map within the series."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameSingleMapScoreBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The map score was submitted and confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSingleMapScoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/matches/{matchId}/status": {
      "patch": {
        "operationId": "updateLeagueMatchStatus",
        "tags": [
          "Leagues"
        ],
        "summary": "Update a league match's lifecycle status",
        "description": "Transitions a league match between lifecycle states using a league-operator key bound to the league. Requires the league scores capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          },
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeagueStatusUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league match status was transitioned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameStatusUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/matches/batch-scores": {
      "post": {
        "operationId": "submitLeagueBatchMatchScores",
        "tags": [
          "Leagues"
        ],
        "summary": "Submit league map scores across multiple matches",
        "description": "Submits map scores for up to 50 league match items in one request. Each item is independently checked against the key's bound league and returns a per-item result. Requires the league scores capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameBatchMatchScoresBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item submission results. success is true only when every item was confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameBatchMatchScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/members": {
      "post": {
        "operationId": "getLeagueMembers",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league staff members",
        "description": "Returns staff members for a league resolved by slug. The API key owner must have a MEMBER+ league role or be TeamBattles staff. Requires the leagues.league_admin:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Staff members of the league.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueMembers"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/penalties": {
      "post": {
        "operationId": "getLeaguePenalties",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league penalties and cooldowns",
        "description": "Returns penalties and/or member cooldowns for a league resolved by slug, with optional filtering. The API key owner must have a MANAGER+ league role or be TeamBattles staff. Requires the leagues.league_admin:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PenaltiesRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Penalties and cooldowns for the league.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaguePenalties"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/rules": {
      "post": {
        "operationId": "getLeagueRules",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league rules and points config",
        "description": "Returns the game rules and points configuration for a league + game, resolved by league slug. Requires the leagues.league_public:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RulesRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Game rules and points config for the league.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueRules"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/season-options": {
      "post": {
        "operationId": "getLeagueSeasonOptions",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league season options",
        "description": "Returns season selector options for a league game. Requires leagues.league_public:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeagueSeasonOptionsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "League season options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueSeasonOptions"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/seasons": {
      "post": {
        "operationId": "getLeagueSeasons",
        "tags": [
          "Leagues"
        ],
        "summary": "Get league seasons",
        "description": "Returns seasons for a league resolved by slug, with optional game and status filtering. Requires the leagues.league_public:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeasonsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seasons for the league.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueSeasons"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/seasons/{seasonId}": {
      "delete": {
        "operationId": "deleteLeagueSeason",
        "tags": [
          "Leagues"
        ],
        "summary": "Delete a league season",
        "description": "Deletes an upcoming league season. Requires the league seasons capability. Replays are not deduped; existing state guards return the current state error if the season no longer exists or is no longer upcoming.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          },
          {
            "in": "path",
            "name": "seasonId",
            "schema": {
              "type": "string",
              "description": "League season ID."
            },
            "required": true,
            "description": "League season ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The season was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLeagueSeasonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
[...]
