{
  "openapi": "3.1.0",
  "info": {
    "title": "TeamBattles API",
    "version": "0.2.0",
    "description": "Public developer API for TeamBattles. Authenticate with an API key: Authorization: Bearer tb_<key>."
  },
  "servers": [
    {
      "url": "https://teambattles.gg/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Games",
      "description": "Public game catalog and playlists.",
      "x-group": "Public Read API"
    },
    {
      "name": "Players",
      "description": "Public player profiles, stats, connections, affiliations, and trophies.",
      "x-group": "Public Read API"
    },
    {
      "name": "Teams",
      "description": "Public team profiles and rosters.",
      "x-group": "Public Read API"
    },
    {
      "name": "Organizations",
      "description": "Public organization profiles, members, teams, stats, and discovery.",
      "x-group": "Public Read API"
    },
    {
      "name": "Leaderboards",
      "description": "Player, team, and organization leaderboards and rank lookups.",
      "x-group": "Public Read API"
    },
    {
      "name": "Match Discovery",
      "description": "Open-match discovery and read-only match detail, players, and scores.",
      "x-group": "Public Read API"
    },
    {
      "name": "League Discovery",
      "description": "Public league discovery, profiles, standings, seasons, rules, and eligibility.",
      "x-group": "Public Read API"
    },
    {
      "name": "My Account",
      "description": "The API key owner's own connections and game ranks.",
      "x-group": "Personal API"
    },
    {
      "name": "My Matches",
      "description": "The key owner's matches and captain match writes (create, accept, ready, scores, lifecycle).",
      "x-group": "Personal API"
    },
    {
      "name": "My Teams",
      "description": "The key owner's team writes: create, edit, disband, manage members, roles, and captaincy.",
      "x-group": "Personal API"
    },
    {
      "name": "My Organizations",
      "description": "The key owner's organization writes: create, edit, delete, manage members, roles, and ownership.",
      "x-group": "Personal API"
    },
    {
      "name": "Match Chat",
      "description": "Read, send, and report messages in a match chat room.",
      "x-group": "Personal API"
    },
    {
      "name": "Game: Matches",
      "description": "Game-developer match lifecycle: create, read, status, and forfeit.",
      "x-group": "Game Developer API"
    },
    {
      "name": "Game: Scores",
      "description": "Game-developer score submission: single, per-map, and batch.",
      "x-group": "Game Developer API"
    },
    {
      "name": "Game: Rosters & Stats",
      "description": "Game-developer roster reads and player-stat submission.",
      "x-group": "Game Developer API"
    },
    {
      "name": "League: Membership & Teams",
      "description": "League staff membership, team applications, and ownership transfer.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Announcements",
      "description": "League-operator announcement posts to league members.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Seasons",
      "description": "League season lifecycle: create, activate, complete, delete.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Rules & Config",
      "description": "League rules, points, display rules, branding, settings, games, and shutdown.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Scores",
      "description": "League-operator match score and player-stat submission and status.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Moderation",
      "description": "League bans, penalties, and cooldowns.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Tickets",
      "description": "League support-ticket workflow.",
      "x-group": "League Operator API"
    },
    {
      "name": "League: Overview",
      "description": "League operator dashboards and activity feed.",
      "x-group": "League Operator API"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoint management, test, secret rotation, and delivery replay.",
      "x-group": "Webhooks"
    },
    {
      "name": "Strategies",
      "description": "Read shared strategy boards and shapes by slug.",
      "x-group": "Platform Tools"
    },
    {
      "name": "Streaming",
      "description": "Live-stream status lookups.",
      "x-group": "Platform Tools"
    },
    {
      "name": "Twitch",
      "description": "Twitch chat badge proxies.",
      "x-group": "Platform Tools"
    },
    {
      "name": "Uploads",
      "description": "Image upload URL minting.",
      "x-group": "Platform Tools"
    },
    {
      "name": "Support",
      "description": "The key owner's support tickets and replies.",
      "x-group": "Platform Tools"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Public Read API",
      "tags": [
        "Games",
        "Players",
        "Teams",
        "Organizations",
        "Leaderboards",
        "Match Discovery",
        "League Discovery"
      ]
    },
    {
      "name": "Personal API",
      "tags": [
        "My Account",
        "My Matches",
        "My Teams",
        "My Organizations",
        "Match Chat"
      ]
    },
    {
      "name": "Game Developer API",
      "tags": [
        "Game: Matches",
        "Game: Scores",
        "Game: Rosters & Stats"
      ]
    },
    {
      "name": "League Operator API",
      "tags": [
        "League: Membership & Teams",
        "League: Announcements",
        "League: Seasons",
        "League: Rules & Config",
        "League: Scores",
        "League: Moderation",
        "League: Tickets",
        "League: Overview"
      ]
    },
    {
      "name": "Webhooks",
      "tags": [
        "Webhooks"
      ]
    },
    {
      "name": "Platform Tools",
      "tags": [
        "Strategies",
        "Streaming",
        "Twitch",
        "Uploads",
        "Support"
      ]
    }
  ],
  "paths": {
    "/chat/messages/{messageId}/report": {
      "post": {
        "operationId": "reportChatMessage",
        "tags": [
          "Match Chat"
        ],
        "summary": "Report a chat message",
        "description": "Reports a chat message for staff moderation as the API key owner. The owner must be a participant of the message's chat room; a non-participant receives 403. System messages and the owner's own messages cannot be reported. Reporting the same message twice is idempotent (returns the existing report with alreadyReported: true). Requires the chat.write scope and the writes feature. Supports the Idempotency-Key header.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "messageId",
            "schema": {
              "type": "string",
              "description": "ID of the chat message to report."
            },
            "required": true,
            "description": "ID of the chat message to report."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportChatMessageRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was reported (or was already reported).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportChatMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches": {
      "post": {
        "operationId": "listGameMatches",
        "tags": [
          "Game: Matches"
        ],
        "summary": "List matches for the developer's approved game",
        "description": "Returns matches for the API key owner's approved (bound) game, with legacy cursor pagination. Requires the game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListGameMatchesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy cursor-paginated result. pagination.cursor is null when there are no more pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GameMatch"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "cursor",
                        "hasMore"
                      ],
                      "additionalProperties": false
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "matches",
                    "count",
                    "pagination",
                    "timestamp"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}": {
      "get": {
        "operationId": "getGameMatch",
        "tags": [
          "Game: Matches"
        ],
        "summary": "Get a single match's details",
        "description": "Returns detailed info for one match, validated to belong to the API key owner's approved game. Requires the game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested match plus a response timestamp.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMatchDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/forfeit": {
      "post": {
        "operationId": "forfeitGameMatch",
        "tags": [
          "Game: Matches"
        ],
        "summary": "Forfeit a match on behalf of one participating team",
        "description": "Forfeits the match for the supplied team; the other participating team wins. Valid only while the match is ACCEPTED, READY, or IN_PROGRESS. Requires the game.lifecycle:read-write permission and a key bound to the match's game. Supports an optional `Idempotency-Key` request header: a retry with the same key and body replays the original response, while the same key with a different body returns 409 error_idempotency_key_conflict.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameForfeitBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match was forfeited successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameForfeitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/player-stats": {
      "post": {
        "operationId": "submitGamePlayerStats",
        "tags": [
          "Game: Rosters & Stats"
        ],
        "summary": "Submit or update player stats for a map",
        "description": "Sets per-player stats on an existing map score for the given mapIndex. Requires the game.scores:write permission. Supports an optional `Idempotency-Key` request header: a retry with the same key and body replays the original response, while the same key with a different body returns 409 error_idempotency_key_conflict. The idempotency identity is scoped per match.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GamePlayerStatsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The player stats were updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GamePlayerStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/rosters": {
      "get": {
        "operationId": "getGameMatchRosters",
        "tags": [
          "Game: Rosters & Stats"
        ],
        "summary": "Get a match's team rosters",
        "description": "Returns the creator and accepted team rosters for a match, validated to belong to the API key owner's approved game. Requires the game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Team rosters grouped by creator and accepted team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameMatchRostersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/scores": {
      "get": {
        "operationId": "getGameScores",
        "tags": [
          "Game: Scores"
        ],
        "summary": "Read all map scores for a match",
        "description": "Returns every recorded map score plus the aggregate series tally. Requires the game.scores:write OR game.lifecycle:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "responses": {
          "200": {
            "description": "All map scores plus the aggregate series tally.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameScoresResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "submitGameScores",
        "tags": [
          "Game: Scores"
        ],
        "summary": "Submit map scores in a batch",
        "description": "Submits scores for one or more maps; game-developer scores are auto-confirmed. Requires the game.scores:write permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameBatchScoresBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-map submission results. success is true only when every map was confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameBatchScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/scores/{mapIndex}": {
      "post": {
        "operationId": "submitGameMapScore",
        "tags": [
          "Game: Scores"
        ],
        "summary": "Submit a single map's score",
        "description": "Submits the score for one map (mapIndex from the path); game-developer scores are auto-confirmed. Requires the game.scores:write permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          },
          {
            "in": "path",
            "name": "mapIndex",
            "schema": {
              "type": "string",
              "description": "Zero-based index of the map within the series."
            },
            "required": true,
            "description": "Zero-based index of the map within the series."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameSingleMapScoreBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The map score was submitted and confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSingleMapScoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/{matchId}/status": {
      "patch": {
        "operationId": "updateGameMatchStatus",
        "tags": [
          "Game: Matches"
        ],
        "summary": "Update a match's lifecycle status",
        "description": "Transitions a match between lifecycle states (validated against allowed transitions). Requires the game.lifecycle:read-write permission. Supports an optional `Idempotency-Key` request header that deduplicates concurrent duplicate submissions: while one request is in flight, a second request with the same key and body resolves to the same outcome, and the same key with a different body returns 409 error_idempotency_key_conflict. The idempotency identity is scoped per match and per target status. Note that this endpoint validates the live match state first, so a sequential retry sent after the transition has already succeeded returns the normal transition error (error_match_not_in_valid_state) - the live state no longer permits the transition - rather than a replayed success.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matchId",
            "schema": {
              "type": "string",
              "description": "Match ID."
            },
            "required": true,
            "description": "Match ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameStatusUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match status was transitioned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameStatusUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/batch-scores": {
      "post": {
        "operationId": "submitGameBatchMatchScores",
        "tags": [
          "Game: Scores"
        ],
        "summary": "Submit map scores across multiple matches in one call",
        "description": "Submits map scores for up to 50 (match, map) items in a single request. Each item is independently scope-checked against the key's bound game; an off-scope or otherwise failing item is rejected in its per-item envelope (status \"failed\", error = bare error_* code) WITHOUT failing the whole request. The response is ALWAYS HTTP 200 - inspect per-item status. Requires the game.scores:write permission. Score submission is naturally idempotent: an unconfirmed map is overwritten on re-submit and an already-confirmed map returns a per-item error_score_already_submitted_by_game, so a retried batch is safe without an Idempotency-Key.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameBatchMatchScoresBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item submission results. success is true only when every item was confirmed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameBatchMatchScoresResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/game/matches/create": {
      "post": {
        "operationId": "createGameMatch",
        "tags": [
          "Game: Matches"
        ],
        "summary": "Create a two-sided game-originated match",
        "description": "Creates an ACCEPTED + PUBLISHED match for the API key's bound game between two active teams in that game. Requires the game.lifecycle:read-write permission. Supply an optional `Idempotency-Key` request header to make retries safe: an identical key + body replays the original response, while the same key with a different body returns 409 error_idempotency_key_conflict.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCreateMatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created match's ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameCreateMatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/games": {
      "get": {
        "operationId": "listGames",
        "tags": [
          "Games"
        ],
        "summary": "List public game catalog entries",
        "description": "Returns the static public game catalog and objective definitions. Requires a valid API key, but no additional permission scope.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public game catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGameCatalogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/games/{id}/playlists": {
      "get": {
        "operationId": "listGamePlaylists",
        "tags": [
          "Games"
        ],
        "summary": "List playlists for a game",
        "description": "Returns playlists from the static public game definition for the requested game ID. Playlist IDs are game-scoped, so shared slugs such as standard are not resolved globally.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Static public game ID/slug."
            },
            "required": true,
            "description": "Static public game ID/slug."
          }
        ],
        "responses": {
          "200": {
            "description": "Public game playlist list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGamePlaylistsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/organizations": {
      "get": {
        "operationId": "listOrganizationLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "summary": "List organization leaderboard",
        "description": "Returns active, public, non-disabled organizations ranked from active, enabled, non-private team stats. Requires orgs.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/organizations/{identifier}/rank": {
      "get": {
        "operationId": "getOrganizationLeaderboardRank",
        "tags": [
          "Leaderboards"
        ],
        "summary": "Get an organization's leaderboard rank",
        "description": "Returns an organization's 1-based rank for the requested leaderboard filters, or null when the organization is unranked (no qualifying match activity for the filter). Resolve the org by slug or Convex organization ID. sortBy defaults to wins (also winRate, experience). Pass gameSlug to rank by that game's stats only; omit it for the global all-games rank. Organization stats are aggregated from the org's active, enabled, non-private teams. Ranking counts only public, active, non-disabled organizations with at least one match. Requires orgs.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "Organization slug or Convex organization ID."
            },
            "required": true,
            "description": "Organization slug or Convex organization ID."
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardRankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/players": {
      "get": {
        "operationId": "listPlayerLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "summary": "List player leaderboard",
        "description": "Returns the global player leaderboard. gameSlug is rejected because player stats are global. Requires users.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/players/me/rank": {
      "get": {
        "operationId": "getPlayerLeaderboardRank",
        "tags": [
          "Leaderboards"
        ],
        "summary": "Get the API key owner's player rank",
        "description": "Returns the API key owner's own rank in the global player leaderboard (the principal is ranked, so there is no identifier path param, unlike the team and organization rank endpoints). Sort with sortBy (wins, winRate, or experience; default wins). rank is null when the owner has no completed matches, has a private profile, is currently banned, or ranks beyond the bounded best-effort scan window (about 2000 entries). gameSlug is not supported and returns 400. Requires users.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardRankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/teams": {
      "get": {
        "operationId": "listTeamLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "summary": "List team leaderboard",
        "description": "Returns active, non-disabled, non-private teams ranked by the requested stat. Requires teams.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboards/teams/{identifier}/rank": {
      "get": {
        "operationId": "getTeamLeaderboardRank",
        "tags": [
          "Leaderboards"
        ],
        "summary": "Get a team's leaderboard rank",
        "description": "Resolves a single team by slug or ID and returns its 1-indexed rank on the public team leaderboard. `sortBy` selects the ranking field: wins (default), winRate, or experience. Pass `gameSlug` to rank within one game's leaderboard; omit it for the global (all-games) board. An unknown `gameSlug` returns 404. `rank` is null when the team is excluded from the leaderboard (private or disabled) and also when the team ranks beyond the internal scan window, since the rank is a bounded best-effort computation rather than a full-table sort. A missing or inactive team returns 404; an active but excluded team returns 200 with rank null. Requires teams.profile:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "Team slug or Convex team ID."
            },
            "required": true,
            "description": "Team slug or Convex team ID."
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy"
            }
          },
          {
            "in": "query",
            "name": "gameSlug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardRankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues": {
      "post": {
        "operationId": "discoverLeagues",
        "tags": [
          "League Discovery"
        ],
        "summary": "Discover public leagues",
        "description": "Returns a paginated list of public leagues with optional search and game filtering. Requires the leagues.league_public:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscoverLeaguesRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy offset-paginated result (page/limit based).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leagues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeagueSummary"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "limit": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "total": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalPages": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ],
                      "additionalProperties": false
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "leagues",
                    "count",
                    "pagination",
                    "timestamp"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}": {
      "post": {
        "operationId": "getLeagueProfile",
        "tags": [
          "League Discovery"
        ],
        "summary": "Get a league profile",
        "description": "Returns the public profile for a single league, resolved by slug or Convex ID. Requires the leagues.league_public:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The league profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/activity-feed": {
      "post": {
        "operationId": "getLeagueActivityFeed",
        "tags": [
          "League: Overview"
        ],
        "summary": "Get league activity feed",
        "description": "Returns recent league activity entries. Requires a league-operator key bound to the league and leagues.league_admin:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeagueActivityFeedRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "League activity feed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueActivityFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/announcements": {
      "post": {
        "operationId": "announceLeague",
        "tags": [
          "League: Announcements"
        ],
        "summary": "Send a league announcement",
        "description": "Sends an announcement to all members of the league. Requires a league-operator key bound to the league and the league announcements capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnounceLeagueRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The announcement was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnounceLeagueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/apply-eligibility": {
      "post": {
        "operationId": "getLeagueApplyEligibility",
        "tags": [
          "League Discovery"
        ],
        "summary": "Get league application eligibility",
        "description": "Returns apply-to-join eligibility for the API key owner's applicable teams, or for a specified team the owner leads. Requires leagues.league_public:read.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeagueApplyEligibilityRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "League application eligibility.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueApplyEligibility"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/bans": {
      "post": {
        "operationId": "getLeagueBans",
        "tags": [
          "League: Moderation"
        ],
        "summary": "Get league team bans",
        "description": "Returns team bans for a league resolved by slug, with optional status filtering. The API key owner must have a MANAGER+ league role or be TeamBattles staff. Requires the leagues.league_admin:read permission.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug."
            },
            "required": true,
            "description": "League slug."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BansRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team bans for the league.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueBans"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/bans/{banId}/revoke": {
      "post": {
        "operationId": "revokeLeagueBan",
        "tags": [
          "League: Moderation"
        ],
        "summary": "Revoke a league team ban",
        "description": "Revokes an active league team ban. Requires a league-operator key bound to the league and the league bans capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          },
          {
            "in": "path",
            "name": "banId",
            "schema": {
              "type": "string",
              "description": "League ban ID."
            },
            "required": true,
            "description": "League ban ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeBanRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league ban was revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeBanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/bans/create": {
      "post": {
        "operationId": "createLeagueBan",
        "tags": [
          "League: Moderation"
        ],
        "summary": "Create a league team ban",
        "description": "Bans a team from the league and removes it from active/pending league participation. Requires a league-operator key bound to the league and the league bans capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBanRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league ban was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/branding/update": {
      "post": {
        "operationId": "updateLeagueBranding",
        "tags": [
          "League: Rules & Config"
        ],
        "summary": "Update league branding",
        "description": "Updates league public profile branding and metadata. Requires a league-operator key bound to the league and the league branding capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeagueBrandingRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league branding was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLeagueBrandingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/cooldowns/{cooldownId}/clear": {
      "post": {
        "operationId": "clearLeagueCooldown",
        "tags": [
          "League: Moderation"
        ],
        "summary": "Clear a league cooldown",
        "description": "Clears an active league member cooldown early. Requires a league-operator key bound to the league and the league cooldowns capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          },
          {
            "in": "path",
            "name": "cooldownId",
            "schema": {
              "type": "string",
              "description": "League member cooldown ID."
            },
            "required": true,
            "description": "League member cooldown ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The league cooldown was cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearCooldownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/cooldowns/config/update": {
      "post": {
        "operationId": "updateLeagueCooldownConfig",
        "tags": [
          "League: Rules & Config"
        ],
        "summary": "Update league cooldown config",
        "description": "Updates the league member cooldown configuration. Requires a league-operator key bound to the league and the league cooldowns capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeagueCooldownConfigRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league cooldown config was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLeagueCooldownConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leagues/{identifier}/cooldowns/issue": {
      "post": {
        "operationId": "issueLeagueCooldown",
        "tags": [
          "League: Moderation"
        ],
        "summary": "Issue a league cooldown",
        "description": "Issues or updates a manual cooldown for a league member. Requires a league-operator key bound to the league and the league cooldowns capability.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "schema": {
              "type": "string",
              "description": "League slug or Convex league ID."
            },
            "required": true,
            "description": "League slug or Convex league ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueCooldownRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The league cooldown was issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueCooldownResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid body, cursor, limit, or date).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
[...]
